ion-content ion-toolbar {
  --background: translucent;
}
.company-profile-page{
  .card-center{
    width: 90%;
    margin: 0 auto;
  }
  .profile-logo-wrap{
    img{
      width:260px;
      border-radius: 15px;
      margin: 0 auto;
    }
    .profile-logo{
      margin: 0 auto;
      position: relative;
      i{
        position: absolute;
        bottom: 10px;
        right: -25px;
      }
    }
  }
}

@media (max-width: 575.98px) { 
  .company-profile-page{
    .card-center{
        width:90%;
    }
    .profile-logo {
      position: relative;
      i {
        position: absolute !important;
        right: -18px !important;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
  .company-profile-page{
    .profile-logo {
      position: relative;
      i {
        position: absolute !important;
        right: -18px !important;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .company-profile-page{
    .profile-logo {
      position: relative;
      i {
        position: absolute !important;
        right: -22px !important;
      }
    }
  }
}