ion-content ion-toolbar {
  --background: translucent;
}
.profile-page{
  .profile-image-wrap{
    img{
      width:150px;
      height:auto;
      border-radius: 50%;
      margin: 0 auto;
    }
    .profile-image{
      margin: 0 auto;
      position: relative;
    }
  }
}

@media (max-width: 575.98px) { 
  // .profile-page{
    
  // }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
  // .profile-page{
    
  // }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  // .profile-page{
    
  // }
}